In [35]:
lista = [1, 3, 5, 2, 75, 24, 67, 24, 43]

n = len(lista)
        
for j in range(n-1):
    for i in range(n-1):
        if lista[j] > lista[j+1]:
            lista[j], lista[j+1] = lista[j+1], lista[j]
            
arr

[1, 2, 3, 5, 24, 24, 43, 67, 75]

In [50]:
help(df.applymap)

Help on method applymap in module pandas.core.frame:

applymap(func: 'PythonFuncType', na_action: 'NaAction | None' = None, **kwargs) -> 'DataFrame' method of pandas.core.frame.DataFrame instance
    Apply a function to a Dataframe elementwise.

    .. deprecated:: 2.1.0

       DataFrame.applymap has been deprecated. Use DataFrame.map instead.

    This method applies a function that accepts and returns a scalar
    to every element of a DataFrame.

    Parameters
    ----------
    func : callable
        Python function, returns a single value from a single value.
    na_action : {None, 'ignore'}, default None
        If 'ignore', propagate NaN values, without passing them to func.
    **kwargs
        Additional keyword arguments to pass as keywords arguments to
        `func`.

    Returns
    -------
    DataFrame
        Transformed DataFrame.

    See Also
    --------
    DataFrame.apply : Apply a function along input axis of DataFrame.
    DataFrame.map : Apply a function along input axis of DataFrame.
    DataFrame.replace: Replace values given in `to_replace` with `value`.

    Examples
    --------
    >>> df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
    >>> df
           0      1
    0  1.000  2.120
    1  3.356  4.567

    >>> df.map(lambda x: len(str(x)))
       0  1
    0  3  4
    1  5  5

### List Comprehension

In [52]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
lista_numeros = [x for x in range(20)]

In [54]:
lista_numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [57]:
lista_numeros = [x for x in range(10) if x <5]
lista_numeros

[0, 1, 2, 3, 4]

In [68]:
lista_frutas = ['banana', 'abacate', 'maca', 'cereja', 'manga']

nova_lista = []

In [69]:
for x in lista_frutas:
    if "m" in x:
        nova_lista.append(x)
nova_lista

['maca', 'manga']

In [70]:
nova_lista = [x for x in lista_frutas if "m" in x]
nova_lista

['maca', 'manga']

## Dict Comprehension

In [72]:
dic_alunos = {'Bob':68, 'Michel':84, 'Zico':57, 'Ana':93}

#retorna key:value para cada key, value no dicionário dic_alunos
dic_alunos_status = {k:v for (k, v) in dic_alunos.items()}
dic_alunos_status

{'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

In [79]:
dic_aluno_status2 = {k: ('Aprovado' if v > 70 else 'Reprovado') for (k,v) in dic_alunos.items()}


dic_aluno_status

{'Bob': 'Reprovado',
 'Michel': 'Aprovado',
 'Zico': 'Reprovado',
 'Ana': 'Aprovado'}

## Calculadora

In [87]:
print('********************** Calculadora em Python **********************')
operacao = int(input('''Selecione o número da operação desejada:\n
1 - Soma
2 - Substração
3 - Multiplicação
4- Divisão\n\n
Digita sua opção (1/2/3/4): '''))

numero_1 = int(input('Digite o primeiro número: '))
numero_2 = int(input('Digite o segundo número: '))

if operacao == 1:
    print(f'{numero_1} + {numero_2} = {numero_1 + numero_2}')

elif operacao == 2:
    print(f'{numero_1} - {numero_2} = {numero_1 - numero_2}')

elif operacao == 3:
    print(f'{numero_1} * {numero_2} = {numero_1 * numero_2}')
    
else:
    print(f'{numero_1} / {numero_2} = {numero_1 / numero_2}')

********************** Calculadora em Python **********************

Selecione o número da operação desejada:

1 - Soma
2 - Substração
3 - Multiplicação
4- Divisão


Digita sua opção (1/2/3/4):  3
Digite o primeiro número:  12
Digite o segundo número:  3

12 * 3 = 36

In [1]:
lista = [1,2,3]

In [4]:
from urllib.request import urlopen
import json

In [5]:
response = urlopen('http://vimeo.com/api/v2/video/57733101.json').read().decode('utf8')
dados = json.loads(response)[0]

In [6]:
dados

{'id': 57733101,
 'title': 'The Good Man trailer',
 'description': 'Trailer for the Manifesto Films production, The Good Man, now available in UK/Ireland/US/Canada/Australia/New Zealand on iTunes (https://itunes.apple.com/us/movie/the-good-man/id873130906) and DVD (http://www.amazon.co.uk/The-Good-Man-Aiden-Gillen/dp/B00IIK6CGU/). Co-production with Jet Black Entertainment (South Africa). Starring Aidan Gillen, Thabang Sidloyi, Kelly Campbell, Lunathi Mampofu. Written & directed by Phil Harrison. More info at www.thegoodmanfilm.com<br />\r\n<br />\r\nCheck out the Variety Magazine review here: http://www.variety.com/review/VE1117947909/',
 'url': 'https://vimeo.com/57733101',
 'upload_date': '2013-01-19 04:01:15',
 'thumbnail_small': 'https://i.vimeocdn.com/video/436057121-e828a1f5478ec0136e957753d107f2a1268c64def9b82faac37c8e30c031cff2-d_100x75',
 'thumbnail_medium': 'https://i.vimeocdn.com/video/436057121-e828a1f5478ec0136e957753d107f2a1268c64def9b82faac37c8e30c031cff2-d_200x150',
 'thumbnail_large': 'https://i.vimeocdn.com/video/436057121-e828a1f5478ec0136e957753d107f2a1268c64def9b82faac37c8e30c031cff2-d_640',
 'user_id': 1334563,
 'user_name': 'Manifesto Films',
 'user_url': 'https://vimeo.com/manifestofilms',
 'user_portrait_small': 'https://i.vimeocdn.com/portrait/4778306_30x30',
 'user_portrait_medium': 'https://i.vimeocdn.com/portrait/4778306_75x75',
 'user_portrait_large': 'https://i.vimeocdn.com/portrait/4778306_100x100',
 'user_portrait_huge': 'https://i.vimeocdn.com/portrait/4778306_300x300',
 'stats_number_of_likes': 18,
 'stats_number_of_plays': 6653,
 'stats_number_of_comments': 0,
 'duration': 143,
 'width': 1024,
 'height': 576,
 'tags': 'belfast, cape town, africa, ireland, film',
 'embed_privacy': 'anywhere'}

In [8]:
print(dados['title'])
print(dados['url'])
print(dados['stats_number_of_plays'])

The Good Man trailer
https://vimeo.com/57733101
6653

## Função map

In [9]:
#aplica uma função em um objeto iteravel

def potencia(x):
    return x ** 2

In [10]:
numeros = [1, 2, 3, 4, 5]

In [12]:
#aplica a função potencia em cada elemento da lista numeros
numeros_ao_quadrado = list(map(potencia, numeros))

In [14]:
#dá pra usar lambda junto com map, sendo que lambda é uma função anonima e o map 
# aplicará a função lambda em cada elemento da lista

temperaturas = [0, 30, 40, 80]

list(map(lambda x: (5.0/9)*(x-32), temperaturas))

[-17.77777777777778,
 -1.1111111111111112,
 4.444444444444445,
 26.666666666666668]

## Função Reduce

In [15]:
from functools import reduce

In [16]:
lista = [47, 11, 42, 13]

In [17]:
def soma(a, b):
    return a + b

In [18]:
reduce(soma, lista)

113

In [19]:
reduce(lambda x,y: x+y, lista)

113

## Função Filter

In [26]:
#a função filter retorna os dados filtrados de acordo com a função passada como parametro
#Retorna apenas True

lista = [1, 3, 4, 6, 7, 11, 30]

def par(num):
        if num % 2 == 0:
            return True
        else:
            return False
        
list(filter(par, lista))

[4, 6, 30]

## Função zip e enumerate

In [ ]:
#zip


x = [1, 2, 3]
y = [4, 5, 6]

list(zip(x, y))

[(1, 4), (2, 5), (3, 6)]

In [2]:
#enumerate
seq = ['a', 'b', 'c']
enumerate(seq)

list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [3]:
for i, item in enumerate(seq):
    print(i, item)

0 a
1 b
2 c

In [4]:
for indice, valor in enumerate(seq):
    print(indice, valor)

0 a
1 b
2 c

In [7]:
for indice, valor in enumerate(seq):
    if indice ==2:
        print(valor)

c

## Tratamento de Erros e Exceções

In [9]:
try: 
    8 + 's'
except TypeError:
    print('Operação não permitida')

Operação não permitida

In [18]:
#a função fica pedindo numero para o usuario até digitar um inteiro
def askint():
    while True: 
        try:
            val = int(input('Digite um número: '))
        except:
            print('Você não digitou um número!')
            continue
        else:
            print('Obrigado por digitar um número!')
            break           
        finally:
            print('Obrigado!')
        print(val)

In [19]:
askint()

Você não digitou um número!
Obrigado!
Você não digitou um número!
Obrigado!
Você não digitou um número!
Obrigado!
Você não digitou um número!
Obrigado!
Você não digitou um número!
Obrigado!
Você não digitou um número!
Obrigado!
Obrigado por digitar um número!
Obrigado!

## Expressões Regulares

In [22]:
import re
 #regular expressions

In [37]:
texto = 'Meu email é osonodenewton@gmail.com e você pode falar comigo aqui ou pelo email maicon.kevyn@ufrgs.br'

In [38]:
#Quantas vezes aparece o caracter @ no texto
resultado = len(re.findall("@", texto))
print(resultado)

2

In [39]:
#extrair a palavra que vem dps da palavra "você"
#r indica que é uma expressão regular e não uma string

resultado = re.findall(r'você (\w+)', texto)
print(resultado) #retorna uma lista

['pode']

In [40]:
#quero extrair os emails do texto   

emails = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z | a-z]{2,}\b', texto)

In [36]:
print(emails)

['osonodenewton@gmail.com e ']

In [41]:
emails = re.findall(r'[\w\.-]+@[\w\.-]+', texto)
emails

['osonodenewton@gmail.com', 'maicon.kevyn@ufrgs.br']

In [43]:
emails = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z | a-z]{2,}\b', texto)

['osonodenewton@gmail.com e ', 'maicon.kevyn@ufrgs.br']